.wrapper{
    background-color: #383838; 
   color:white;
   height: 93vh;
   padding:20px 20px 0px 20px;
   display: flex;
}
.title{
font-size: 35px;
}
.info{
    padding-left: 50px;
}
.form{
padding-left: 50px;
}