*{
    background-color: gray;
}
.wrapper{
    padding:2%;
    background-color: gray;
}
.message{
    background-color: #2c2c2c;
    color:white;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #2c2c2c;
    border-radius: 4px;
    padding: 10px;
}
.author, .text{
    height: 30px;
    background-color: #2c2c2c;
}
.text{
    height: 50px;
}
.area{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.input{
    margin:10px;
margin-left: 0px;
border:none;
background-color: whitesmoke;
border-radius: 4px;
height: 30px;
box-shadow: 0px 0px 5px #2c2c2c;
padding-left: 10px;
}
.button{
    max-width: 100px;
background-color: #2c2c2c;
border:none;
height: 30px;
border-radius: 4px;
color:white;
box-shadow: 0px 0px 5px #2c2c2c;
}